<?php

return array(
    'elasticsearch' => array(
        'cluster' => array(
            'hosts' => array(
                'localhost:9201'
            )
        )
    ),
    'database' => array(
            'driver' => 'Pdo_Pgsql',
            'hostname' => 'localhost',
            'port' => '5433',
            'database' => 'opg',
            'username' => 'opg',
            'password' => 'opg'
        )
);
